.wrapper {
  min-height: 100vh;
  font-family: 'Teko', sans-serif;
  font-weight: 300;
  letter-spacing: 0.2rem;
  color: #00004d;
  position: relative;
}

section {
  height: 100vh;
  text-align: center;
  font-size: 30px;
  font-weight: 100;
  background-color: #22A7F0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.section1{
  font-size: 90px;
}

.section2, .section3, .section4, .section5, .section6, .section7{
  text-align: center;
}

section:nth-child(1) {
  background: white;
}
section:nth-child(2) {
  background: rgb(255,122,161);
}
section:nth-child(3) {
  background: rgb(71, 203, 252);
}
section:nth-child(4) {
  background: #fce3ce;
}
section:nth-child(5) {
  background: #faee46;
}
section:nth-child(6) {
  background: #03C9A9;
}
section:nth-child(7) {
  background: #f8ba89;
}

section:nth-child(8) {
  background: #d299e9;
}

.nav__wrapper {
  position: fixed;
  height: 100%;
  padding: 30px;
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-end;
}
.nav {
  margin: 0 0 100px 30px;
}
.nav__counter {
  font-size: 24px;
  transition: all 0.15s ease-out;
}
.nav__title {
  font-size: 20px;
  font-weight: 300;
  margin: 0 0 0.25em;
  width: 300px;
  height: 0;
  overflow: hidden;
  opacity: 0;
  transition: height 0.3s ease-out, opacity 0.2s ease-out;
}
.nav__body {
  font-weight: 100;
  font-size: 18px;
  font-size: 18px;
  width: 300px;
  height: 0;
  overflow: hidden;
  opacity: 0;
  transition: height 0.3s ease-out, opacity 0.2s ease-out;
}
.nav li {
  position: relative;
  transition: all 0.3s ease-out;
  margin-bottom: 1em;
}
.nav li:after {
  content: "";
  display: block;
  border-left: 2px solid #00004d;
  border-top: 2px solid #00004d;
  height: 250px;
  width: 20px;
  position: absolute;
  left: -30px;
  top: 15px;
}
.nav li a {
  display: block;
  padding: 0;
  color: #00004d;
  transition: all 0.15s ease-out;
}
.nav li a:hover {
  background-color: transparent;
  padding-left: 1em;
}
.nav li a:focus {
  background-color: transparent;
}
.nav li.active {
  pointer-events: none;
  padding-left: 1em;
}
.nav li.active:after {
  width: 35px;
  height: 400px;
  top: 35px;
}
.nav li.active .nav__counter {
  font-size: 48px;
}
.nav li.active .nav__title {
  height: 40px;
  opacity: 1;
  overflow: visible;
}
.nav li.active .nav__body {
  height: 100px;
  opacity: 1;
  overflow: visible;
}